@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #12001f;
  color: white;
  font-family: Inter, sans-serif;
}

.gradient {
  background: linear-gradient(
    135deg,
    #7c3aed,
    #9333ea,
    #581c87
  );
}

.section {
  @apply max-w-7xl mx-auto px-6 lg:px-12;
}